#errorAlert {
    background-color: #d00;
    border-radius: 2px;
    margin: 8px 0;
    padding: 0px 22.6px;
    color:white;
    text-align: center!important;
   
  }

  .message {
    height: 60px;
    line-height: 60px;
}

.iconclose{
cursor: pointer;
}

